body {
    padding-top: 56px;
  }
a:link{
  text-decoration: none;
  
}
#productoAdmin{
  margin: auto;
}
#productoUsuario{
  margin: auto;
  max-width: 60% ;
  max-height: 60%;
  
}
/* #carrito{
  background-image: url("../imagenes/carritoBG.jpg");
  height: 100%;
  width: 100%;

} */